
<app-header title="Itau Gastos Cartão"></app-header>

<mat-spinner class="container mt-5" *ngIf="showLoader"></mat-spinner>

<mat-tab-group mat-stretch-tabs class="mat-elevation-z1" *ngIf="!showLoader">

    <mat-tab label="Lista Geral">
        <app-general-expenses [data]="generalExpenses"></app-general-expenses>
    </mat-tab>

    <mat-tab label="Por Mês">
        <app-month-expenses [data]="monthExpenses"></app-month-expenses>
    </mat-tab>

    <mat-tab label="Por Categoria">
        <app-category-expenses [data]="categoryExpenses" [categories]="everyCategories"></app-category-expenses>
    </mat-tab>

</mat-tab-group>