<ul class="container">
    <li *ngFor="let expense of data">
        <div class="mt-4">
            <p class="item-value">{{formatNumberInBrlCurrency(expense.valor)}}</p>
            <p class="item-spent">{{expense.origem}}</p>
        </div>
    </li>
</ul>